.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  padding-block: 2vh;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .navigation-container {
    display: flex;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;

      &:focus {
        color: #3988b3;
        border-bottom: 2px solid #3988b3;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
